{% extends 'base.html' %}

{% block title %}
Ver Dispositivos
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ver_dispositivos.css') }}">
{% endblock %}

{% block content %}
<table id="device-table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Nombre Dispositivo</th>
            <th>Estado</th>
            <th>Comuna</th>
            <th>Fotos</th>
        </tr>
    </thead>
    <tbody id="device-table-body">
        {% if dispositivos %}
        {% for dispositivo in dispositivos %}
        <tr id="view_row_{{ dispositivo['id'] }}" data-href="{{ url_for('informacion_dispositivo', idx=dispositivo['id']) }}">
            <td>{{ dispositivo['tipo'] }}</td>
            <td>{{ dispositivo['nombre'] }}</td>
            <td>{{ dispositivo['estado'] }}</td>
            <td>{{ dispositivo['comuna_name'] }}</td>
            <td><img src="{{ url_for('static', filename=dispositivo['path']) }}" alt="imagen dispositivo" width="120" height="120"></td>
        </tr>
        {% endfor %}
        {% endif  %}

        <!-- <tr data-device-id="1">
            <td>Type A</td>
            <td>Device 1</td>
            <td>Active</td>
            <td>Comuna 1</td>
            <td><img src="image1-thumb.jpg" alt="Device 1" class="thumbnail"></td>
        </tr> -->
    </tbody>
</table>

<div class="button-row">
    {% if page > 0 %}
        <a href="{{ url_for('ver_dispositivos', page=(page-1)) }}" class="btn" style="text-decoration: none;">anterior</a>
    {% endif %}
    
    {% if nend %}
        <a href="{{ url_for('ver_dispositivos', page=(page+1)) }}" class="btn" style="text-decoration: none;">siguiente</a>
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/ver_dispositivos.js') }}"></script>
{% endblock %}